body{
  margin: 0%;
  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

}
h1{
   font-size: 50px;    
}
 .name-highlight{
    color: orange;
 }
 .half-width{
   width: 30%;
   float: left;
   margin-left: 2%;
   padding-left: 2%;
 }
 .half-width img{
   width: 100%;
 }
 #mintu{
   color: brown;
   background-image: linear-gradient(45deg red crimson );
   font-size: 50px;
   text-decoration: none ;
   background-color: aqua;
   border-radius: 20px;
   padding: 10px 10px;
   font-weight: 900px;
   
 }
 section{
  height: 500px;
  background-color: bisque;
 }
 h1{
  font-size: 40px;
 }